
/* Base header styling */
header.main-header {
  background-color: #de9138;
  background-image: url("/images/brushed-alum.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 300px; /* Adjust the height */
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.avatar img {
  width: 150px; /* Adjust the size */
  height: 150px; /* Adjust the size */
  border-radius: 50%;
}

.your-name {
  text-align: center;
  color: #fefefe;
  font-size: 18px; /* Adjust the size */
}

/* Tablet screens */
@media (min-width: 768px) {
  header.main-header {
    height: 350px;
    padding: 30px;

  .avatar img {
    width: 175px;
    height: 175px;
  }

  .your-name {
    font-size: 20px;
  }
}

/* Desktop screens */
@media (min-width: 1024px) {
  header.main-header {
    height: 400px;
    padding: 40px;
  }

  .avatar img {
    width: 200px;
    height: 200px;
  }

  .your-name {
    font-size: 24px;
  }

  .parent {
    display: flex;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 50px;
  }