
/* Navigation Bar Styles */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  box-sizing: border-box;
  font-family: 'Bungee', sans-serif;
  top: 0;
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-new-tweet p {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}

.write-new-tweet i {
  font-size: 1.5em;
  color: white;
}